# Node.js
node_modules/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Editor configs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Optional: arquivo que contém as cidades (se não quiser versionar)
cidades.json
